{{ define "main" }}

{{ $microposts := .Site.Taxonomies.categories.micro }}
{{ $paginator := .Paginate (.Site.Taxonomies.categories.essay) 5 }}
{{ partial "profile.html" . }}

<div class="posts-wrapper">
	<div class="desktop-layout">
		{{ partial "desktop-layout.html" }}
	</div>
	<div class="mobile-layout">
		{{ partial "mobile-layout.html" }}
	</div>
</div>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}

{{ end }}