{{ define "main" }}

{{ $paginator := .Paginate (.Site.Taxonomies.categories.essay) 5 }}
{{ partial "profile.html" . }}

<div class="statuslol-latest mobile">
	<div class="list-title" style="margin-bottom: 10px;"><h2>Current Status</h2></div>
	<script src="https://status.lol/gr36.js?time&link&fluent"></script>
</div>

<div class="posts-wrapper">
	<div class="main-post-list">
		<div class="main-list-title"><h2>Blog Posts</h2></div>
		{{ range first 1 $paginator.Pages }}
			{{ partial "post-item.html" . }}
		{{ end }}
		{{ partial "microcallout.html" . }}
		{{ range (after 1 $paginator.Pages) }}
			{{ partial "post-item.html" . }}
		{{ end }}
	</div>

	{{ partial "sidebar" . }}
</div>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}

{{ end }}